/*
 * Globals
 */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

#logo {
  font-weight: normal;
}

.description {
  font-size: 12px;
}




