html {
    background-color: lightsteelblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body > header > h1 {
    text-align: center;
}

body > header > article > p {
    margin-bottom: 20px;
}

body > header > article > img {
    align-items: center;
}

body > footer {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

body > footer > p {
    margin: 0;
}

#congrats, #failedLogin {
    text-align: center;
}